<h2>RecordView</h2>

<div class="row">

    <div class="col-md-5">
        <h2>Records</h2>
        <ul id="records"></ul>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6" id="addBlock">
        <p><b>Add Record</b></p>
        <table>
            <tr><td><label>Name: </label></td><td><input type="text" id="addName"/></td></tr>
            <tr><td><label>Data: </label></td><td><input type="text" id="addData"/></td></tr>
        </table>
        <button id="addRecord">Add</button>
    </div>

</div>

@section scripts
{
    <script type="text/javascript">

        var uri = 'api/recordmodel';

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON(uri)
                .done(function (data) {
                    // On success, 'data' contains a list of records.
                    $.each(data, function (key, item) {
                        // Add a list item for the product.
                        $('<li>', { text: formatItem(item) }).appendTo($('#records'));
                    });
                });
            $("#addRecord").click(function (event) {
                event.preventDefault();
                AddRecord();
            });
        });

        function formatItem(item) {
            return item.Name + ' Item Data: ' + item.Data;
        }

        function GetAllRecords() {

            $("#createBlock").css('display', 'block');
            $("#editBlock").css('display', 'none');
            $.ajax({
                url: uri,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (key, item) {
                        // Add a list item for the product.
                        $('<li>', { text: formatItem(item) }).appendTo($('#records'));
                    });
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function AddRecord() {
            var record = {
                Name: $('#addName').val(),
                Data: $('#addData').val()
            }

            $.ajax({
                url: uri,
                type: 'POST',
                data: JSON.stringify(record),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllRecords();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
    </script>
}
