.card {
   /*float:left;*/
   display:inline-block;
   margin: 10px;
   width: 350px;
   height: 500px;   
   padding-left:25px;
   padding-right:25px;
   padding-bottom:10px;
   border-radius: 20px;
   background-color:black;
   color:white;
}


.bodyDivElement{
border: 1px solid white; 
border-radius: 5px;
height:70px; 
width:300px; 
text-align:center; 
padding:2px;
display: table-cell; 
vertical-align: middle;
}

.imageDivElement{
    width:300px; 
    height:200px;
    line-height:200px;
    margin-left: auto;
    margin-right: auto; 
    text-align:center;
}

.imageElement{
    max-height:100%;
    max-width:100%; 
    vertical-align:middle;
}

.iconElement{
    width:20px;
    height:20px;
}

.fakeText{
    color:black;
}

td:first-child + td {
    text-align: left;
}