@section SPAViews {
    @*@Html.Partial("_Home")*@
}

@*.city {
   float: left;
   margin: 5%;
   padding: 1%;
   max-width: 37%;
   height: 300px;
   border: 1px solid black;
  padding-bottom: 30%;
}*@


    <div ng-controller="AllAnnouncementsController" style="text-align:center">
        <div class="card" ng-repeat="announcement in allAnnouncements">
            <h3 ng-bind="announcement.title" style="text-align:center"></h3>
            <div class="imageDivElement">
                <img class="imageElement" ng-src="data:image/JPEG;base64,{{announcement.image}}" />
            </div>
            <p></p>
            <div class="bodyDivElement">
                <p ng-bind="announcement.body"></p>
            </div>
            <p></p>
            <p ng-bind="announcement.email"></p>
            <p ng-bind="announcement.phoneNumber1"></p>
            <p ng-bind="announcement.phoneNumber2"></p>
            <p ng-bind="announcement.phoneNumber3"></p>
        </div>
    </div>
